<div class="Header">
  <div id="Total" class="content">
    <div>S/ {{Total}}</div>
  </div>
<div id="TotalTable" class="content">
  <table>
    <tr>
      <td class="huge tableCell"><h3>Oeschle</h3></td>
      <td class="huge tableCell"><h3>{{TOTAL_OESCHLE}}</h3></td>
    </tr>
    <tr>
      <td class="huge tableCell"><h3>Promart</h3></td>
      <td class="huge tableCell"><h3>{{TOTAL_PROMART}}</h3></td>
    </tr>
    <tr>
      <td class="huge tableCell"><h3>Vea</h3></td>
      <td class="huge tableCell"><h3>{{TOTAL_VEA}}</h3></td>
    </tr>
  </table>
</div>
