<div class="Header">
  <div id="Total" class="content">
    <div>S/ 20</div>
  </div>
<div id="TotalTable" class="content">
  <table>
    <tr>
      <td class="huge tableCell"><h3>Oeschle</h3></td>
      <td class="huge tableCell"><h3>10</h3></td>
    </tr>
    <tr>
      <td class="huge tableCell"><h3>Promart</h3></td>
      <td class="huge tableCell"><h3>20</h3></td>
    </tr>
    <tr>
      <td class="huge tableCell"><h3>Vea</h3></td>
      <td class="huge tableCell"><h3>15</h3></td>
    </tr>
  </table>
</div>
